.wrapper {
  min-height: 100%;
  width: 100%;
  /* padding-bottom: 100px;
  padding-top: 50px; */
  background: #ECEFF1;
  height: 100%;
  display: contents;
  flex-flow: row wrap;
  /* padding: 20px; */
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto; 
}
