/* .wrapper {
  min-height: 100%;
  width: 100%;  
  height: 100%;
  display: contents;
  flex-flow: row wrap;  
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto; 
  background: url("https://lmtrain.github.io/lm-images/assets/images/ls_wf3.jpg");
} */

.wrapper {
  min-height: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
