ul.search-results img {
  margin: 0 auto;
}


.card { 
  border-radius: 2px;
  height: 400px !important;  
  position: relative;
  width: 300px !important;
  box-shadow: 0 5px 8px #6f6666, 0 5px 8px #6f6666 !important;
  text-align: left;
  border-radius: .95rem !important;
  margin-bottom: 15px;
  margin-top: 10px; 
  margin-left: 100px;   
}

.cart-img-container { 
  height: 100px;
  width: 140px;
  
  text-align: center;  
  
}


.h3, h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cart-image {
  vertical-align: middle;
  border-style: none;
  width: 70px !important;
}

.cart-card {
  background-color: white !important;
  border: double;
  color: black;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  margin-bottom: 10px;  
  padding-right: 5px;
  margin-left: -35px !important;
  height: 150px !important;
  width: 450px !important;
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: 14px;
  padding:.5px;  
  margin-top: -15px;
  /* margin-left: 50px;   */
}

.cart-item-display {
  background:white;
  border-radius: 32px;
  height: auto !important; 
  /* position: inherit; */
  width: 510px !important;
  box-shadow: 0 -10px 29px #6f6666, 0 19px 29px #6f6666;
  text-align: left;
  margin-top: 10px;
  /* overflow: auto; */
  margin-left: auto !important;
  /* overflow-y: hidden scroll;
  overflow-x: hidden scroll; */
}
.cart-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  .cart-card:hover .readMore:before {
    background: linear-gradient(to right, #ffffff 0%,#ffffff 100%);
  }

  
.cart-row-display {
  background-color: white !important;
  display: inline-flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: 10px;
  padding:.5px;  
  margin-top: 3px;
  margin-left: 50px;  
  color: black;  
}

.create-port-btn {
  margin-bottom: 20px;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  border-radius: 95px;
  margin-bottom: 10px;
}

.fav-menu-bar {
  width: 500px;
  padding: 5px;
  margin-left: 780px;
}

.container {
  width: 100%; 
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
  margin-top: 50px;
}

.fav-card-button {
  font-size: 14px;
  padding:.5px;
  margin-left: 80px;
  margin-bottom: -20px;
  font-weight: bold;
  display: flex;
}

.fav-card-button :hover {
  color: orangered;
  cursor: pointer;
}


.container-content {
  margin-top: 100px;
}

.delete-button { 
  margin-top: -10px;
}

.delete-button:hover {
  color: #d50000;
}

.text-center {
  margin-top: 5px;
  margin-bottom: 45px; 
  text-align: center;
  color: rgb(32, 32, 32);
}

.col-md-4, .col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-right: -10px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: -1px;
}

 .col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 8px;
  padding-top: -5px;
}

 .col-md-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: -20px;
  padding-top: -20px;
}

.saved-img-container { 
  height: 45%;
  overflow: hidden;
  text-align: center;
  width: 50% !important;
}

.saved-item-row-display {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px !important;
  overflow: auto; 
  margin-top: 10px;
  width: 180px !important;
  
}

.saved-item-card {
  background-image: linear-gradient(45deg, white 0%, white 100%);
  font-size: small !important;
  word-wrap: normal !important;
  margin-right: 5px !important;
  margin-left: 1px;
  width: 180px !important;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 1px;
  overflow-y: hidden ;
  overflow-x: hidden ;
  height: 200px !important;
}

.saved-item-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

 
  .saved-result-card-button {
    font-size: 14px;
    padding:5px;
    margin-left: 10px;
    margin-top: -8px;
    font-weight: bold;
    display: flex;
    margin-inline-start: 15px;
    margin-inline-end: 5px;
  }
  
  .saved-result-card-button :hover {
    color: orangered;
    cursor: pointer;
  }

  .saved-item-card {
    height: auto !important;   
    width: 1000px !important;  
    position: relative;   
    margin-top: 10px; 
    vertical-align: middle;
    margin-left: -10px !important;    
   }

.search-col-md-3l {
  position: relative;
  width: 100%;
  min-height: 1px;
  margin-right: -10px;
  margin-left: -550px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: -1px;
}
.search-col-md-6 {
  position: relative;
  width: 70%;
  /* min-height: 1px; */
  /* margin-right: -10px; */
  margin-left: -391px;
  margin-top: 10px;
  padding-left: -80px;
  padding-right: 0px;
  padding-top: -1px;
}

.search-col-md-3r {
  position: relative;
  width: 90%;
  min-height: 1px;
  /* margin-right: -10px; */
  margin-left: 185px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: -1px;
}

.search-card-col1{
  width: 150px !important;
}

.container {
  width: 100%;
  padding-left: auto;
  margin-right: auto;
  margin-left: 350px;
  margin-bottom: 70px;
  margin-top: 50px;
}