.about-card {
  border-radius: 2px;
  height: 550px;  
  position: relative;  
  box-shadow: 0 5px 8px #6f6666, 0 5px 8px #6f6666;
  text-align: left;
  font-size: large;
  border-radius: .95rem;
  margin-bottom: 20px; 
  margin-top: 40px;
  width: 1300px;
  margin-left: -100px;
  background-color: whitesmoke;
  padding: 20px 20px 20px 20px;
}