ul.search-results img {
  margin: 0 auto;
}


  .list-group-item {
    position: relative;    
    width: 950px;
    height: 80%;
    background-color: bisque;    
    box-shadow: 0 5px 8px #6f6666, 0 5px 8px #6f6666;
    text-align: left;
    font-size: larger;
    border-radius: 92px;
    margin-bottom: 93px;
}

@media (min-width: 576px) {

  .list-group-item:last-child {  
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;  
    margin-bottom: 20px;
    margin-left: 70px;
    border-radius: .95rem;
  }
}