nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  align-items: center;  
  justify-content: space-between; 
  width: 100%;
  height: 8%;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 18px;  
}

.navbar-brand {
  margin-left: 100px;
}

/* .search-in-nav {
  margin-left: 50px;
  margin-top: 15px;
} */

.getstarted-in-nav {
  margin-right: 100px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
  margin-inline-start: 60px;
  margin-inline-end: 60px;
  margin-top: 15px;
  /* margin-left: 50px;
  margin-right: 50px; */
}